/* Custom CSS
-------------------------*/
#logo {
    background-image: url([[setting:logo]]);
}


/* Modified Moodle CSS by Mary Evans based on
   CSS-Tricks Example
   by Chris Coyier
   https://css-tricks.com/sideways-headers/
   ----------------------------------------*/

.jsenabled .block {
    position: relative;
    border-style: solid;
    border-width: 1px 1px 1px 34px;
}
.jsenabled .block.hidden .header {
    border-bottom: 0 none;
}
.jsenabled .block .header h2 {
    font: bold 12px Sans-Serif, FontAwesome;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 0;
    left: 0;

    /* Border is the new background */
    background: none;

    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;


    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

.jsenabled .block.hidden {
    display: block;
    position: relative;
    border-left: 0 none;
    min-height: 24px;
    padding-left: 0;
}
.jsenabled .block.hidden.block_with_controls .block-control-actions.commands.icon .toggle-display > i.fa,
.jsenabled .block.hidden.block_with_controls .block-control-actions.commands.icon move.menu-action > i.fa {
    color: #fff;
}

.jsenabled .block.hidden .header h2,
.jsenabled .block.block_adminblock .header h2 {
    padding: 5px 35px 5px 5px;
    margin-top: 6px;
    line-height: 1;
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 0;
    left: 0;
    /* Border is the new background */
    background: none;

    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: none;
       -moz-transform-origin: none;
        -ms-transform-origin: none;
         -o-transform-origin: none;
            transform-origin: none;

    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
}

.jsenabled .block.block_adminblock {
    padding: 30px 10px 0;
    border-width: 1px;
}
.jsenabled .block.block_adminblock .header {
    height: 0;
}
.jsenabled .block_adminblock .content .singleselect {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
/* Block min-height
-------------------------*/

.jsenabled .block_adminblock {
    height: 65px;
}
.jsenabled .block_site_main_menu,
.jsenabled .block_messages {
    min-height: 100px;
}
.jsenabled .block_blog_recent {
    min-height: 120px;
}
.jsenabled .block_progress {
    min-height: 135px;
}
.jsenabled .block_private_files {
    min-height: 150px;
}

.jsenabled .block_mentees,
.jsenabled .block_badges,
.jsenabled .block_blog_menu,
.jsenabled .block_blog_tags,
.jsenabled .block_book_toc,
.jsenabled .block_calendar_upcoming,
.jsenabled .block_comments,
.jsenabled .block_community,
.jsenabled .block_course_badges,
.jsenabled .block_course_list,
.jsenabled .block_course_overview,
.jsenabled .block_feedback,
.jsenabled .block_flickr,
.jsenabled .block_heritage,
.jsenabled .block_html,
.jsenabled .block_login,
.jsenabled .block_myprofile,
.jsenabled .block_navigation,
.jsenabled .block_news_items,
.jsenabled .block_people,
.jsenabled .block_rss_client,
.jsenabled .block_rss_plus,
.jsenabled .block_settings,
.jsenabled .block_tags,
.jsenabled .block_youtube,
.jsenabled .block_lrc {
    min-height: 160px;
}

.jsenabled .block_activity_modules,
.jsenabled .block_activity_results,
.jsenabled .block_admin_bookmarks,
.jsenabled .block_calendar_month,
.jsenabled .block_glossary_random,
.jsenabled .block_online_users,
.jsenabled .block_participants,
.jsenabled .block_quiz_navblock,
.jsenabled .block_quiz_results,
.jsenabled .block_recent_activity,
.jsenabled .block_search_forums,
.jsenabled .block_section_links,
.jsenabled .block_twitter_search {
    min-height: 165px;
}

.jsenabled .block_completionstatus,
.jsenabled .block_selfcompletion {
    min-height: 175px;
}
.jsenabled .block_my_enrolled_courses .content {
    min-height: 500px;
}

/** Special case needs top padding to see block action icons **/
.jsenabled .block_search_forums .searchform {
    padding-top: 20px;
}

/** Added CSS for commands  **/

.block .header .commands {
    display: none;
}

.editing .block .header .commands {
    clear: both;
    display: block;
    padding-top: 10px;
    text-align: right;
}
.editing .block .title .header {
    background-color: #abc;
    height: 60px;
}
.block .header h2 {
    padding: 10px 15px;
}
.block .header .block_action {
    float: right;
    padding: 5px;
}

.coursebox {
    border: 0 none;
}

/* COMMAND ICONS (2011-10-13)
-------------------------------------*/
img.iconsmall,
.block.block_with_controls div.header div.commands a img,
.course-content ul.topics li.section .right img,
.course-content ul.topics li.section .left img {
    height: 15px;
    margin: 2px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1px;
    border-radius: 5px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
